<div class="app_main">
	<h1>datetimepicker directive for Angular</h1>
	<form class="form-group" #form="ngForm">
		<div class="form-group" style="position: relative;">
			<label>
				选择日期：
				<input type="text" class="form-control"
					   essence-ng2-datetimepicker
					   name="time"
					   [(ngModel)]="datetime"
					   [options]="options"
					   #time="ngModel"
					   required
					   readonly
					   (ready)="onReady($event)"
					   (changeDate)="onChangeDate($event)">
			</label>
		</div>
		<div class="text-danger" *ngIf="time.invalid && !time.pristine">
			必须输入时间！
		</div>
	</form>
	<button class="btn btn-primary" (click)="setMinDate()">设置最小时间</button>
	<button class="btn btn-danger" (click)="clearDate()">清空数据</button>
</div>
